<div id="index_container">
    <div class="empl_link">
        <a routerLink="/jobseeker/myApplications">
            <div class="empl_icons">
                <img src="./../../../../assets/images/cv_history.gif">
            </div>
            Моите кандидатствания
        </a>
        Тук можете да проследите историята на вашите кандидатствания
    </div>
    <div class="empl_link">
        <a routerLink="h">
            <div class="empl_icons">
                <img src="./../../../../assets/images/pass.gif">
            </div>
            Настройки на профила
        </a>
        Тук можете да промените Вашите потребителски данни 
    </div>
</div>