<div id="index_container">
    <div class="empl_link">
        <a routerLink="/employer/myAdvertisements">
            <div class="empl_icons">
                <img src="./../../../../assets/images/offers_icon.png">
            </div>
            Вашите обяви за работа
        </a>
        Тук можете да разгледате Вашите обяви, да ги редактирате, спрете или удължите като срок
    </div>
    <div class="empl_link">
        <a routerLink="/employer/createAdv">
            <div class="empl_icons">
                <img src="./../../../../assets/images/offer_create_icon2.png">
            </div>
            Създаване на обява за работа
        </a>
        Тук можете да създавате и публикувате Вашите обяви за работа
    </div>
    <div class="empl_link">
        <a routerLink="/d">
            <div class="empl_icons">
                <img src="./../../../../assets/images/company_data_icon.png">
            </div>
            Фирмени данни
        </a>
        Тук можете да попълните информация за Вашата фирма както и да посочите данни за брандирана страница
    </div>
    <div class="empl_link">
        <a routerLink="/employers/register">
            <div class="empl_icons">
                <img src="./../../../../assets/images/registration_icon.png">
            </div>
            Регистрация
        </a>
        За да ползвате платените опции на сайта е необходимо да се регистрирате тук
    </div>
</div>