<div id="home">
    <div class="mainPanel">
        <div class="left">
            <h1>Най-нови свободни работни места в Jobserver.bg</h1>
            <ul class="lastPositions">
                <li>...</li>
            </ul>
        </div>
        <div class="right">
            <h2>Топ работодатели</h2>
            <ul class="loga">
                <li>...</li>
            </ul>
        </div>
    </div>
    <div class="posBySector">
        <h3>Свободни работни позиции от избрани професионални области:</h3>
        <ul id="slider">
            <li>...</li>
        </ul>
    </div>
</div>