.container #regF {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 195px;
}

.form-control {
    width: 50%
}

.pageName {
    background: #34376a;
    color: #FFF;
    margin: 135px 0 -150px 0px;
    padding: 5px 4px 5px 10px;
    line-height: 19px;
    width: 88%
}

.regBtn {
    display: inline-block;
    line-height: 38px !important;
    font-weight: bold;
    font-size: 15px;
    color: #FFF !important;
    margin: 20px 0px 0px 0px;
    border-radius: 4px;
    background-color: #34376a;
}