#nav_header {
    width: 1000px;
    height: 37px;
    float: left;
    background-color: #313131;
    margin-top: 10px;
}

#footer {
    display: inline-block;
    font-size: 14px;
    width: 50%;
    margin: 315px 310px;
}







