#main_offer_cntnr {
    width: 665px;
    min-height: 25px;
    padding-top: 155px;
}

#ofr_back_link {
    width: 110px;
    height: 17px;
    background-color: #eae3e3;
    float: right;
}

#main_offer_brd {
    margin-left: 4px;
    border: 0 solid #C8C8C8;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-width: 1px 1px 1px 1px;
    width: 995px;
}

.ofr_subt {
    height: 24px;
    line-height: 24px;
    margin: 7px 0 0 0;
    color: #97B252;
    font-size: 11px;
    font-weight: bold;
    background-color: #F4F3F3;
    padding-left: 7px;
    font-family: tahoma;
}

#ofr_back_link a {
    font-size: 11px;
    color: #ed2124;
    text-decoration: none;
    outline-style: none;
}

#ofr_position {
    height: auto;
    line-height: 34px;
    margin: 30px 0 14px 0;
    color: #ed2124;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    background-color: #F4F3F3;
}

.ofr_gray_bold {
    color: #727272;
    font-size: 11px;
    font-weight: bold;
    margin: 7px 0 0px 10px;
}

#ofr_text {
    color: #626262;
    margin: 7px 0 20px 10px;
    line-height: 16px;
    font-size: 12px;
}

.ofr_subt {
    height: 24px;
    line-height: 24px;
    margin: 7px 0 0 0;
    color: #97B252;
    font-size: 11px;
    font-weight: bold;
    background-color: #F4F3F3;
    padding-left: 7px;
    font-family: tahoma;
}

#ofr_reqs {
    color: #626262;
    margin: 7px 0 20px 10px;
    line-height: 16px;
    font-size: 12px;
}

#ofr_main_respons {
    color: #626262;
    margin: 7px 0 20px 10px;
    line-height: 16px;
    font-size: 12px;
}

.ofr_gray, m_left {
    color: #727272;
    font-size: 11px;
    font-weight: bold;
    margin: 7px 0 0px 10px;
    margin-left: 10px;
    font-weight: normal;
}

#main_ofr_bottom {
    width: 657px;
    min-height: 23px;
    margin-left: 4px;
    padding-top: 17px;
}

#new_apply {
    border: 0 none;
    float: left;
    text-decoration: none;
    text-align: center;
    background-color: #2571c6;
    color: #FFFFFF;
    display: block;
    font-weight: bold;
    height: 35px;
    line-height: 35px;
    width: 146px;
}

.atten-mess {
    color: #ed2124;
    text-align: center;
    font-weight: bold;
    margin-right: 200px;
}