<div class="pageName">
        <strong>Редактиране на обява за работа</strong>
    </div>
    <div class="container">
        <form (ngSubmit)="editAdvertisement(editAdvertisementForm)" [formGroup]="editAdvertisementForm" id="publishAdvr">
            <div class="form-group">
                <label for="shortPreview">Кратко описание: *</label>
                <textarea formControlName="shortPreview" type="text" class="form-control" id="shortPreview" placeholder="Short preview" value={{extractedAdvertData.shortPreview}}></textarea>
            </div>
            <div class="form-group">
                <label for="jobTitle">Длъжност: *</label>
                <input formControlName="jobTitle" type="text" class="form-control" id="jobTitle" placeholder="Job title" value={{extractedAdvertData.jobTitle}}>
            </div>
            <div class="form-group">
                <label for="refNumber">Референтен номер:</label>
                <input formControlName="refNumber" type="text" class="form-control" id="refNumber" placeholder="Ref №" value={{extractedAdvertData.refNumber}}>
            </div>
            <div class="form-group">
                <label for="mainResponsibilities">Основни задължения: *</label>
                <textarea formControlName="mainResponsibilities" type="text" class="form-control" id="description" placeholder="Main responsibilities" value={{extractedAdvertData.mainResponsibilities}}></textarea>
            </div>
            <div class="form-group">
                <label for="requirements">Изисквания към кандидата: *</label>
                <textarea formControlName="requirements" type="text" class="form-control" id="requirements" placeholder="Requirements" value={{extractedAdvertData.requirements}}></textarea>
            </div>
            <div class="form-group">
                <span>
                    <strong>Сектор: *</strong>
                </span>
                <select formControlName="sector" id="sector">
                    <option value="" selected="" disabled="">Сектор</option>
                    <option value="ИТ-Разработка/поддръжка на софтуер/хардуер">ИТ-Разработка/поддръжка на софтуер/хардуер</option>
                    <option value="Икономика и Финанси">Икономика и Финанси</option>
                    <option value="Инженерна дейност">Инженерна дейност</option>
                    <option value="Право, Юридически услуги">Право, Юридически услуги</option>
                    <option value="Счетоводство, Одит, Финанси">Счетоводство, Одит, Финанси</option>
                    <option value="Производство">Производство</option>
                    <option value="Продажби и търговия">Продажби и търговия</option>
                    <option value="Консултантска дейност">Консултантска дейност</option>
                    <option value="Институции/Държавна администрация">Институции/Държавна администрация</option>
                    <option value="Архитектура, Строителство и Градоустройство">Архитектура, Строителство и Градоустройство</option>
                    <option value="Автомобили, Резервни части, Автосервизи, Бензиностанции">Автомобили, Резервни части, Автосервизи, Бензиностанции</option>
                </select>
            </div>
            <div class="form-group">
                <span>
                    <strong>Вид заетост: *</strong>
                </span>
                <select formControlName="employmentType" name="contract_type" id="contract-type-select">
                    <option value="" selected="" disabled="">Вид договор</option>
                    <option value="Трудов срочен">Трудов срочен</option>
                    <option value="Трудов безсрочен">Трудов безсрочен</option>
                    <option value="Граждански">Граждански</option>
                    <option value="Стаж">Стаж</option>
                </select>
            </div>
            <div class="form-group">
                <span>
                    <strong>Ниво в ерархията: *</strong>
                </span>
                <select formControlName="hierarchyLevel" name="career_level" id="career-level-select">
                    <option value="" selected="" disabled="">Изберете ниво</option>
                    <option value="Студенти/Стажанти">Студенти/Стажанти</option>
                    <option value="Неквалифициран персонал">Неквалифициран персонал</option>
                    <option value="Административен персонал">Административен персонал</option>
                    <option value="Експертен персонал без ръководни функции">Експертен персонал без ръководни функции</option>
                    <option value="Средно управленско ниво">Средно управленско ниво</option>
                    <option value="Висше управленско ниво">Висше управленско ниво</option>
                    <option value="Служители">Служители</option>
                </select>
            </div>
            <div class="form-group">
                <span>
                    <strong>Населено място: *</strong>
                </span>
                <select formControlName="place" name="select_city">
                    <option value="" selected="" disabled="">Населено място</option>
                    <option value="София">София</option>
                    <option value="Пловдив">Пловдив</option>
                    <option value="Варна">Варна</option>
                    <option value="Бургас">Бургас</option>
                    <option value="Стара Загора">Стара Загора</option>
                    <option value="Русе">Русе</option>
                    <option value="Благоевград">Благоевград</option>
                    <option value="Велико Търново">Велико Търново</option>
                    <option value="Видин">Видин</option>
                    <option value="Враца">Враца</option>
                    <option value="Габрово">Габрово</option>
                    <option value="Добрич">Добрич</option>
                    <option value="Кърджали">Кърджали</option>
                    <option value="Кюстендил">Кюстендил</option>
                    <option value="Ловеч">Ловеч</option>
                    <option value="Монтана">Монтана</option>
                    <option value="Пазарджик">Пазарджик</option>
                    <option value="Перник">Перник</option>
                    <option value="Плевен">Плевен</option>
                    <option value="Разград">Разград</option>
                    <option value="Силистра">Силистра</option>
                    <option value="Сливен">Сливен</option>
                    <option value="Смолян">Смолян</option>
                    <option value="Търговище">Търговище</option>
                    <option value="Хасково">Хасково</option>
                    <option value="Шумен">Шумен</option>
                    <option value="Ямбол">Ямбол</option>
                    <option value="Друг">Друг</option>
                </select>
            </div>
            <div>
                <div *ngIf="editAdvertisementForm.status !== 'VALID'">Error</div>
                <input class="regBtn" [disabled]="editAdvertisementForm.invalid" name="submit" value="Редактирай обява" type="submit">
            </div>
        </form>
    </div>